<div class='wrapper' id='footerwrap'>
	<div id='footer'>
		<div id="footer-nav">
		  <ul>
			<li>
				<a href="mailto:thomas.thornton.jr@gmail.com">contact</a>
			</li>
			<li>
				@Html.ActionLink("rss", "Rss", "Blog")
			</li>
		  </ul>
		</div>
	</div>
</div>
